{% extends 'includes/base.html' %}

{% block body %}
    {% from "includes/_helpers.html" import render_field, render_submit_field %}
    <div class="col-md-4 col-md-offset-4">
        <h1>Register</h1>

        <form action="" method="POST" novalidate formnovalidate class="form" role="form">
            {{ form.hidden_tag() }}

            {# Username or Email #}
            {% set field = form.username if user_manager.enable_username else form.email %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                <div class="row">
                    <div class="col-xs-5">
                        <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
                    </div>
                    <div class="col-xs-7 text-right">
                        {% if user_manager.enable_register %}
                            <a href="{{ url_for('user.login') }}" tabindex='290'>
                                Already registered? Sign in.
                            </a>
                        {% endif %}
                    </div>
                </div>
                {{ field(class_='form-control', tabindex=210) }}
                {% if field.errors %}
                    {% for e in field.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            {% if user_manager.enable_email and user_manager.enable_username %}
                {{ render_field(form.email, tabindex=220) }}
            {% endif %}

            {{ render_field(form.password, tabindex=230) }}

            {% if user_manager.enable_retype_password %}
                {{ render_field(form.retype_password, tabindex=240) }}
            {% endif %}

            {{ render_submit_field(form.submit, tabindex=280) }}
        </form>
    </div>
{% endblock %}