{% extends 'includes/base.html' %}

{% block body %}
    <div class="col-md-12">
        <div class="paste-detail">
            {{ paste_content|safe }}
        </div>

        {% if paste.user %}
            <p>Created by {{ paste.user.username }}</p>
        {% endif %}

        <a href="{% if current_user.is_authenticated %}{{ url_for('dashboard') }}{% else %}{{ url_for('index') }}{% endif %}">
            <button class="btn btn-default" type="submit">
                Go home
            </button>
        </a>
    </div>
{% endblock %}